﻿<%@ Page Title="" Language="C#" MasterPageFile="~/frmPrincipal.Master" AutoEventWireup="true" CodeBehind="frmInicio.aspx.cs" Inherits="siempreEnForma.Formulario_web1" %>

<asp:Content ID="Content4" ContentPlaceHolderID="Cuerpo" runat="server">
    <table class="w-100">
    <tr>
        <td class="auto-style6"></td>
    </tr>
    <tr>
        <td class="text-center">Bienvenido al aplicativo web para la administración del gimnasio <strong>Siempre en Forma</strong></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text-center">Medellín - 2021</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
</asp:Content>
<asp:Content ID="Content5" runat="server" contentplaceholderid="head">
    <style type="text/css">
        .auto-style6 {
            height: 60px;
        }
    </style>
</asp:Content>

